@import url("/stylesheets/general.css");

body {
	font-style: normal;
	font-size: 1em;
	/* font-family: tahoma, loma, arial, helvetica, sans-serif; */
}

body, p, h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	font-weight: normal;
}

