div#headbar {
	background: #fff;
	text-align: left;
	margin-bottom: 10px;
	padding: 8px 8px 4px;
	border-bottom: 1px solid #ccc;
	height: 20px;
}

div#headbar a:link, div#headbar a:visited {
	color: #0000cd;
	text-decoration: none;
}

div#headbar span.partition {
	color: #ccc;
}

div#headbar span#logo {
	padding-right: 20px;
}

div#headbar span#links {
}
